* {
  margin: 0px;
  padding: 0px;
}

/* UTILES */
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
i.icon-password{
  right: 15px;
  top: 45px;
  cursor: pointer;
}
.italic{
  font-style: italic;
}
.f-lucita{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.jce{
  justify-content: end;
}
.jcs{
  justify-content: space-between;
}
.flex-1{
  flex: 1;
}
.flex-05{
  flex: 0.5;
}
.gap-10{
  gap: 10px;
}
.h-190{
  height: 190px;
}
.h-90{
  height: 190px;
}
.bold{
  font-weight: bold;
}
.shadow-p{
  box-shadow: 0 0.01rem 0.3rem rgba(0, 0, 0, 0.15);
}

/***** REGISTER / LOGIN *******/
body h1{
  text-align: center;
  margin: 20px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#containers{
  width: 90%;
  margin: 40px auto;
  padding-bottom: 10px;
}
#containers .content_form  {
  width: 40%;
  margin: 40px auto;
  border: 1px solid #ced4da;
  padding-bottom: 10px;
}
#containers p {
  margin-left: 22px;
}
form {
  margin: 20px;
}
h2 {
  text-decoration: underline;
}
.infos {
  padding: 25px;
}
.mini_text {
  font-size: 0.7rem;
  list-style-type: none;
  opacity: 0.6;
}
.text-infos ul{
  padding-left: 3px;
  margin-top: 5px;
}
.infos{
  height: 5px;
  padding: 20px;
  box-sizing: border-box;
}
svg{
  width: 20px;
}
.red{
  color: red;
  font-size: 0.9rem;
}
label{
  margin-bottom: 10px;
}
.header{
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 3px solid rgba(128, 128, 128, 0.84);
}
.separation{
  margin-top: 90px;
  margin-bottom: 50px;
  border-bottom: 3px solid rgba(128, 128, 128, 0.84);
}
.header-left{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-right{
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
}
.header-bottom{
  margin-top: 10px;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}
.header-right-links{
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}
.header-right h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 text-decoration: none;
}
.header-right a{
 font-size: 2rem;
 display: flex;
 align-items: center;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.all{
  padding-bottom: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.all-posts{
  height: 200px;
  overflow-y: auto;
  padding: 0 20px;
}
.all-posts h6{
  font-style: italic;
}
.delete{
  justify-content: space-between;
  align-items: center;
}

/**  DASHBOARD ***/
.contain{
  margin: 40px auto;
}

 /** NEW RECIPE**/
 .content-left input, .content-left textarea{
  width: 60%;
 }
 .content-left label{
  width: 82px;
 }
 .form-create{
   margin-right: 0;
   margin-left: 0;
  }
  .content-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-right .form-row{
   width: 50%;
  }
  .content-right p{
   margin-left: 0 !important;
  }
  .content-right input[type="radio"]{
    width: 5%;
    border-radius: 50%;
    height: 25px;
  }
  .radio-input .form-group{
    width: 55%;
  }
  .content-right button[type="submit"]{
    margin: 10px 0 0 140px;
  }

  /**** SHOW RECIPE ***/

  .content-infos h6{
    width: 200px;
  }


